.payment-page{
  min-height:100vh;

  background:#0f172a;

  color:white;
}

.payment-container{
  width:90%;

  max-width:600px;

  margin:auto;

  padding-top:140px;

  text-align:center;
}

.payment-card{
  background:#1e293b;

  padding:40px;

  border-radius:24px;

  margin-top:40px;

  box-shadow:
  0 10px 40px rgba(0,0,0,0.35);
}

.payment-card h2{
  font-size:26px;
}

.payment-card h3{
  font-size:56px;

  margin:20px 0;

  color:#06b6d4;
}

.payment-card p{
  opacity:0.8;
}

.tracking-box{
  background:#0f172a;

  padding:18px;

  border-radius:14px;

  margin:30px 0;

  font-size:18px;
}

.payment-card button{
  width:100%;

  height:55px;

  border:none;

  border-radius:16px;

  background:linear-gradient(
    135deg,
    #2563eb,
    #06b6d4
  );

  color:white;

  font-size:17px;

  cursor:pointer;

  transition:0.3s;
}

.payment-card button:hover{
  transform:translateY(-3px);
}